<footer class="footer mt-auto py-3" style="background-color: #e3f2fd;">
  <div class="container text-center">
    <span class="text-muted">By Arthur Kuo © 2023-{{ currentYear }}</span>
  </div>
</footer>