  <div class="form-row mb-3">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter title" value="{{work.title}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="text">Text</label>
    <input class="form-control" type="text" name="text" id="text" placeholder="Write description here" value="{{work.text}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="href">href</label>
    <input class="form-control" type="text" name="href" id="href" placeholder="Enter href" value="{{work.href}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="pic">Pic</label>
    <input class="form-control" type="text" name="pic" id="pic" placeholder="Enter pic href here(temporary)" value="{{work.pic}}">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>