<div class="container"> <!--記得改動態 -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 pb-5">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="https://i.imgur.com/qZ4PA9W.png" width="100" class="rounded-circle">
                </div>
                <div class="text-center mt-3">

                    <div class='social-media'>
                        <a class='social-media-link m-1'  href='https://github.com/mamadoujiaohao' target='_blank'>
                            <span>
                            <i class="fa-brands fa-github fa-lg"></i>
                            </span>
                        </a>
                        <a class='social-media-link m-1'  href='https://www.linkedin.com/in/%E5%8A%AD%E8%80%98-%E9%83%AD-34256b212' target='_blank'>
                            <span>
                            <i class="fa-brands fa-linkedin fa-lg"></i>
                            </span>
                        </a>
                        <a class='social-media-link m-1'  href='mailto:aking4511@gmail.com' target='_blank'>
                            <span>
                            <i class="fa-regular fa-envelope fa-lg"></i>
                            </span>
                        </a>
                    </div>

                    <h3 class="mt-2 mb-0">About Me</h3>
                    <div class="px-4 mt-3">
                        <p class="fonts">Hey, I am Arthur, a former statistical analyst in the pharmaceutical industry. Familiar with Python, Node.js, MySQL, and other backend technologies. </p>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-around">
                        <div class="p-2 " style="width: 200px;">
                            <h4>Back-end</h4>
                            <p>Node.js / Express.js</p>
                            <p>Python</p>
                            <p>MySQL</p>
                            <p>MongoDB</p>
                        </div>
                        <div class="p-2 " style="width: 200px;">
                            <h4>Front-end</h4>
                            <p>HTML5/CSS3</p>
                            <p>JavaScript (ES6+)</p>
                            <p>Bootstrap5</p>
                            <p>Express Handlebars</p>
                        </div>
                        <div class="p-2 " style="width: 200px;">
                            <h4>Others</h4>
                            <p>Git</p>
                            <p>Railway</p>
                            <p>Heroku</p>
                            <p>Virtual Machine</p>
                            <p>Docker (learning)</p>
                        </div>
                    </div>

                    <hr>
                    
                    <div class="d-flex justify-content-around">
                        <div class="p-2 ">
                            <h4>Education</h4>
                            <p>Chung Cheng University - Economics</p>
                        </div>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-around">
                        <div class="p-2 ">
                            <h4>Experience</h4>
                            <p> Mar 2022 ~ Feb 2023 - Great Tree Pharmacy Co.,Ltd - Statistical Analyst </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>