<div class="container"> <!--記得改動態 -->
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7 pb-5">
            
            <div class="p-3 py-4">
                <div class="text-center">
                    <h4>There is nothing here, yet.</h4>
                </div>
            </div>
        </div>
    </div>
</div>